.camera__border {
  border-radius: 18px;
  object-fit: cover;
}

.camera__border-success {
  border-radius: 18px;
  border: 2px solid $colorsuccess;
}

.camera__border-error {
  border-radius: 18px;
  border: 2px solid $colorerror;
}
